
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
   *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }


button{
   color: #ffffff;
   border-color: #24252A;
 }


  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #DFDFDE;
  }
  .logo{
    cursor: pointer;
    height: 110px;
    width: 200px;
    order: 3;
    margin-left: auto;
  }

  nav{
    order: 1;
  }

  .nav-links{
    list-style: none;
  }
  .nav-links li{
    display: inline-block;
    padding: 0px 20px;

  }

  .nav-links li:nth-child(1){
   padding: 0 20px 0 0;
  }
  .nav-links li a{
    transition: all 0.3s ease 0s;   
    color: #212121;
    font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 30px;
   text-decoration: none;
    
  }
  .nav-links li a:hover{
    color: #0088a9;
  }

  
 
  .slide-container{ 
     width: 100%; 
     height: auto;
    background-color: #212121;
  }
  
  .catalog-section{ 
    width: 100%; 
    height: auto;
   background-color: #DFDFDE;
  }

  .first-product{
    width:100%;
    height: 400px;;
     display:flex;
     align-items:center;
     justify-content:center; 
    background-color: #D9CAB3;

  }

  .first-product h3{
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-align: center;
    font-size: 30px;
  }
  .first-product img{
    height: 400px;
     width: 50%;
     justify-content: flex-end;
  }
  .content-leter-1{
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 30px;
    text-align: center;
  }

   .second-product{
    width:100%;
    height: 400px;;
     display:flex;
     align-items:center;
     justify-content:center; 
     background-color: #6D9886;
   }

   .second-product h3{
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-align: center;
    font-size: 30px;
   }
   .second-product img{
     margin-left: 100px;
     height: 400px;
      width: 50%;
      justify-content: flex-end;
   }
   .content-leter{
    margin: 30px;
    padding: 30px;
    text-align: center;
   }
  
   
  .hightlights-section{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #DFDFDE;
  }


.box-1{
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #00000046;
  padding: 10px;
}
.box-2{
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;

  border-radius: 30px;
  box-shadow: 10px 5px 5px #00000046;
  padding: 10px;
}

.box-3 {
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;
  box-shadow:inset;
  border-radius: 30px;
    box-shadow: 10px 5px 5px #00000046;
    padding: 10px;
}


/* Flexbox Styles */
.content1 {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 20px;
}
.content1 img{
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
  border-radius: 30px;
}
.content1 a{
  color: #24252A;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
}
.content1 .price-con{
  color: #24252a62;
}
.content1 span{
  font-size: 20px;
  
}

  /*Catalogo*/

  .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
  
    display: flex;
    gap: 20px;
  }
  
  .titulo {
    font-size: 24px;
    padding: 80px 200px;
    background-color: #9de372bd;
  }
  
  .contenedor-conciertos {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: calc(33.33%-28px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
  }
  
  .card .textos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;	
  }
  .backlife {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    background-image: url('./assets/img/fondo-2.jpg');
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
    
  }
  .backlife h3{
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    
  }
  .backlife ul {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    

  }
  
  .backlife ul li {
    margin: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  
  .backlife .boton {
    background: #0040ffd2;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    
  }

  @media screen and (max-width: 900px) {
	
  }
  
  @media screen and (max-width: 700px) {
    
  }
  
  @media screen and (max-width: 600px) {
  
  }

  a:link{
    text-decoration:none
  }
  a:visited{
    text-decoration:none
  }
    /*END Catalogo*/

    .ir-arriba{
      display:none;
      padding:20px;
      font-size:20px;
      color:#fff;
      cursor:pointer;
      position: fixed;
      bottom:20px;
      right:20px;
      }

      .Developed{
        padding: 50px;
        margin-right: 200px;
      }

      

.Developed a{
  color: #edf0f1;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 2px;
}
footer img{
  padding-left: 15px;
  width: 250px;
  float: left;
  margin-top: 10px;
}
footer {
  width: 100%;
  height: 175px;
  background-color: #24252A;

}


.logos-box{
  margin-top: -120px;
  margin-right: 60px;
  float: right;
  display: flex;
  flex-wrap: nowrap;
}
.logos-box img{
  height: 50px;
  width: auto;
}

 .face{
   padding: 0px;
  margin-left: 10px;
  border-radius: 10px;

}
