
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
   *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }


button{
   color: #ffffff;
   border-color: #24252A;
 }


  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
  }
  .logo{
    cursor: pointer;
    height: 110px;
    width: 200px;
    order: 3;
    margin-left: auto;
  }

  nav{
    order: 1;
  }

  .nav-links{
    list-style: none;
  }
  .nav-links li{
    display: inline-block;
    padding: 0px 20px;

  }

  .nav-links li:nth-child(1){
   padding: 0 20px 0 0;
  }
  .nav-links li a{
    transition: all 0.3s ease 0s;   
    color: #edf0f1;
    font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 30px;
   text-decoration: none;
    
  }
  .nav-links li a:hover{
    color: #0088a9;
  }

  
 
  .slide-container{ 
     width: 100%; 
     height: auto;
    background-color: rgb(101, 101, 101);
  }
  
  .catalog-section{ 
    width: 100%; 
    height: auto;
   background-color: rgb(43, 151, 10);
  }
  .first-product{
    width: 100%; 
    height: auto;
   background-color: rgb(57, 55, 204);
  }

  .first-product h3{
    float: right;
    margin: 200px;
    text-align: center;
    font-size: 30px;
  }


  .second-product{
    width: 100%; 
    height: auto;
    background-color: rgb(255, 238, 5); 
   }

   .second-product h3{
    float: left;
    margin: 140px;
    text-align: center;
    font-size: 30px;
   }
  
  .hightlights-section{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #DFDFDE;
  }


.box-1{
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #00000046;
  padding: 10px;
}
.box-2{
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;

  border-radius: 30px;
  box-shadow: 10px 5px 5px #00000046;
  padding: 10px;
}

.box-3 {
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;
  box-shadow:inset;
  border-radius: 30px;
    box-shadow: 10px 5px 5px #00000046;
    padding: 10px;
}


/* Flexbox Styles */
.content1 {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 20px;
}
.content1 img{
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
  border-radius: 30px;
}
.content1 a{
  color: #24252A;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
}
.content1 .price-con{
  color: #24252a62;
}
.content1 span{
  font-size: 20px;
}
  footer {
    width: 100%;
    height: 200PX;
    background-color: #3e3838;

  }

  /*Catalogo*/

  .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
  
    display: flex;
    gap: 20px;
  }
  
  .titulo {
    font-size: 24px;
    padding: 80px 200px;
    background-color: #9de372bd;
  }
  
  .contenedor-conciertos {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: calc(33.33%-28px);
  }
  
  .card .textos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;	
  }
  .backlife {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    background-image: url('./assets/img/Des-4.jpg');
  }
  .backlife h3{
    padding-top: 50px;
    font-size: 60px;
  }
  .backlife ul {
    list-style: none;
  }
  
  .backlife ul li {
    margin: 15px;
    font-weight: bold;
  }
  
  .backlife .boton {
    background: #0040ffd2;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    
  }

  @media screen and (max-width: 900px) {
	
  }
  
  @media screen and (max-width: 700px) {
    
  }
  
  @media screen and (max-width: 600px) {
  
  }

  a:link{
    text-decoration:none
  }
  a:visited{
    text-decoration:none
  }
    /*END Catalogo*/

    .ir-arriba{
      display:none;
      padding:20px;
      font-size:20px;
      color:#fff;
      cursor:pointer;
      position: fixed;
      bottom:20px;
      right:20px;
      }

      .Developed{
        float: left;
        padding-left: 150px;
        padding-top: 15px;
        text-align: center;
      }