
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
   *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }


button{
   color: #ffffff;
   border-color: #24252A;
 }


  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
  }
  .logo{
    cursor: pointer;
    height: 110px;
    width: 200px;
    order: 3;
    margin-left: auto;
  }

  nav{
    order: 1;
  }

  .nav-links{
    list-style: none;
  }
  .nav-links li{
    display: inline-block;
    padding: 0px 20px;

  }

  .nav-links li:nth-child(1){
   padding: 0 20px 0 0;
  }
  .nav-links li a{
    transition: all 0.3s ease 0s;   
    color: #edf0f1;
    font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 30px;
   text-decoration: none;
    
  }
  .nav-links li a:hover{
    color: #0088a9;
  }

  
 
  .slide-container{ 
     width: 100%; 
     height: 600px;
    background-color: rgb(0, 0, 0);
  }
  
  .catalog-section{ 
    width: 100%; 
    height: 900px;
   background-color: rgb(43, 151, 10);
  }
  .first-product{
    width: 100%; 
    height: 400px;
   background-color: rgb(57, 55, 204);
  }
  .second-product{
    width: 100%; 
    height: 400px;
    background-color: rgb(255, 238, 5); 
   }
  
  .hightlights-section{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #DFDFDE;
  }


.box-1{
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #00000046;
  padding: 10px;
}
.box-2{
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;

  border-radius: 30px;
  box-shadow: 10px 5px 5px #00000046;
  padding: 10px;
}

.box-3 {
  background-color: #8d8daa83;
  margin-left: 20px;
  height: 500px;
  box-shadow:inset;
  border-radius: 30px;
    box-shadow: 10px 5px 5px #00000046;
    padding: 10px;
}


/* Flexbox Styles */
.content1 {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 20px;
}
.content1 img{
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
  border-radius: 30px;
}
.content1 a{
  color: #24252A;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
}
.content1 .price-con{
  color: #24252a62;
}
.content1 span{
  font-size: 20px;
}
  footer {
    width: 100%;
    height: 200PX;
    background-color: #000000;

  }
